In [1]:
%load_ext sql

In [2]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_database.db")
cur = con.cursor()

In [3]:
%sql sqlite:///my_database.db

In [4]:
import pandas as pd

df = pd.read_csv('../application_data/cleaned_data_before_transform.csv')
df.to_sql('credit_card_db', con, if_exists='replace', index=False)

307511

In [5]:
df

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,...,OCCUPATION_TYPE,REGION_POPULATION_RELATIVE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,TARGET,WEEKDAY_APPR_PROCESS_START
0,24700.5,406597.5,351000.0,202500.0,0.0,0.0,0.0,0.0,0.0,1.0,...,Laborers,0.018801,2,2,0,0,0,0,1,WEDNESDAY
1,35698.5,1293502.5,1129500.0,270000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Core staff,0.003541,1,1,0,0,0,0,0,MONDAY
2,6750.0,135000.0,135000.0,67500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Laborers,0.010032,2,2,0,0,0,0,0,MONDAY
3,29686.5,312682.5,297000.0,135000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Laborers,0.008019,2,2,0,0,0,0,0,WEDNESDAY
4,21865.5,513000.0,513000.0,121500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Core staff,0.028663,2,2,0,1,0,0,0,THURSDAY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,27558.0,254700.0,225000.0,157500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Sales staff,0.032561,1,1,0,0,0,0,0,THURSDAY
307507,12001.5,269550.0,225000.0,72000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Otros,0.025164,2,2,0,0,0,0,0,MONDAY
307508,29979.0,677664.0,585000.0,153000.0,0.0,1.0,1.0,0.0,0.0,1.0,...,Managers,0.005002,3,3,0,1,0,0,0,THURSDAY
307509,20205.0,370107.0,319500.0,171000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Laborers,0.005313,2,2,1,1,0,0,1,WEDNESDAY
307510,49117.5,675000.0,675000.0,157500.0,0.0,0.0,2.0,0.0,0.0,1.0,...,Laborers,0.046220,1,1,0,1,0,0,0,THURSDAY

In [6]:
%sql select * from credit_card_db limit 10;

 * sqlite:///my_database.db
Done.

[(24700.5, 406597.5, 351000.0, 202500.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0, 1.0, 'M', -9461, -637, -2120, -1134.0, -3648.0, 2.0, 2.0, 'No', 0.0830369673913225, 0.2629485927471776, 0.1393757800997895, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 'N', 'Y', 1, 0, 10, 0, 0, 'Cash loans', 'Secondary / secondary special', 'Single / not married', 'House / apartment', 'Working', 'Unaccompanied', 2.0, 2.0, 'Laborers', 0.018801, 2, 2, 0, 0, 0, 0, 1, 'WEDNESDAY'),
 (35698.5, 1293502.5, 1129500.0, 270000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 2.0, 'F', -16765, -1188, -291, -828.0, -1186.0, 0.0, 0.0, 'No', 0.3112673113812225, 0.6222457752555098, 0.5108529061799658, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 'N', 'N', 1, 0, 11, 0, 0, 'Cash loans', 'Higher education', 'Married', 'House / apartment', 'State servant', 'Family', 1.0, 1.0, 'Core staff', 0.0035409999999999, 1, 1, 0, 0, 0, 0, 0, 'MONDAY'),
 (6750.0, 135000.0, 135000.0, 67500.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 1.0, 'M', -19046, -225, -2531, -815.0, -4260.0, 0.0, 0.0, 'No', 0.5021298056566625, 0.5559120833904428, 0.7295666907060153, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 'Y', 'Y', 1, 1, 9, 0, 0, 'Revolving loans', 'Secondary / secondary special', 'Single / not married', 'House / apartment', 'Working', 'Unaccompanied', 0.0, 0.0, 'Laborers', 0.010032, 2, 2, 0, 0, 0, 0, 0, 'MONDAY'),
 (29686.5, 312682.5, 297000.0, 135000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 2.0, 'F', -19005, -3039, -2437, -617.0, -9833.0, 0.0, 0.0, 'No', 0.5021298056566625, 0.6504416904014653, 0.5108529061799658, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 'N', 'Y', 0, 0, 17, 0, 0, 'Cash loans', 'Secondary / secondary special', 'Civil marriage', 'House / apartment', 'Working', 'Unaccompanied', 2.0, 2.0, 'Laborers', 0.008019, 2, 2, 0, 0, 0, 0, 0, 'WEDNESDAY'),
 (21865.5, 513000.0, 513000.0, 121500.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 1.0, 'M', -19932, -3038, -3458, -1106.0, -4311.0, 0.0, 0.0, 'No', 0.5021298056566625, 0.3227382869704046, 0.5108529061799658, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 'N', 'Y', 0, 0, 11, 1, 0, 'Cash loans', 'Secondary / secondary special', 'Single / not married', 'House / apartment', 'Working', 'Unaccompanied', 0.0, 0.0, 'Core staff', 0.028663, 2, 2, 0, 1, 0, 0, 0, 'THURSDAY'),
 (27517.5, 490495.5, 454500.0, 99000.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0, 2.0, 'M', -16941, -1588, -477, -2536.0, -4970.0, 0.0, 0.0, 'No', 0.5021298056566625, 0.3542247319929012, 0.6212263380626669, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 'N', 'Y', 1, 1, 16, 0, 0, 'Cash loans', 'Secondary / secondary special', 'Married', 'House / apartment', 'State servant', 'Spouse, partner', 0.0, 0.0, 'Laborers', 0.035792, 2, 2, 0, 0, 0, 0, 0, 'WEDNESDAY'),
 (41301.0, 1560726.0, 1395000.0, 171000.0, 0.0, 0.0, 1.0, 1.0, 0.0, 2.0, 1, 3.0, 'F', -13778, -3130, -619, -1562.0, -1213.0, 0.0, 0.0, 'No', 0.7747614130547695, 0.7239998516953141, 0.4920600938649263, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 'Y', 'Y', 1, 0, 16, 0, 0, 'Cash loans', 'Higher education', 'Married', 'House / apartment', 'Commercial associate', 'Unaccompanied', 1.0, 1.0, 'Accountants', 0.035792, 2, 2, 0, 0, 0, 0, 0, 'SUNDAY'),
 (42075.0, 1530000.0, 1530000.0, 360000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 2.0, 'M', -18850, -449, -2379, -1070.0, -4597.0, 0.0, 0.0, 'No', 0.5021298056566625, 0.7142792864482229, 0.5406544504453575, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 'Y', 'Y', 0, 1, 16, 1, 0, 'Cash loans', 'Higher education', 'Married', 'House / apartment', 'State servant', 'Unaccompanied', 2.0, 2.0, 'Managers', 0.0031219999999999, 3, 3, 0, 1, 0, 0, 0, 'MONDAY'),
 (33826.5, 1019610.0, 913500.0, 112500.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0, 2.0, 'F', -20099, 365243, -3514, 0.0, -7427.0, 0.0, 0.0, 'No', 0.5873340468730377, 0.2057472880073281, 0.7517237147741489, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 'N', 'Y', 0, 0, 14, 0, 0, 'Cash loans', 'Secondary / secondary special', 'Married', 'House / apartment', 'Pensioner', 'Children', 1.0, 1.0, 'Otros', 0.018634, 2, 2, 0, 0, 0, 0, 0, 'WEDNESDAY'),
 (20250.0, 405000.0, 405000.0, 135000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 1.0, 'M', -14469, -2019, -3992, -1673.0, -14437.0, 0.0, 0.0, 'No', 0.5021298056566625, 0.7466436294590924, 0.5108529061799658, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 'N', 'Y', 0, 0, 8, 0, 0, 'Revolving loans', 'Secondary / secondary special', 'Single / not married', 'House / apartment', 'Working', 'Unaccompanied', 2.0, 2.0, 'Laborers', 0.0196889999999999, 2, 2, 0, 0, 0, 0, 0, 'THURSDAY')]

1. Distribución de clientes por género

In [42]:
%%sql 
SELECT 
    CODE_GENDER, 
    COUNT(*) AS cantidad, 
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM credit_card_db), 2) AS porcentaje
FROM credit_card_db
GROUP BY CODE_GENDER;

 * sqlite:///my_database.db
Done.

[('F', 202448, 65.83), ('M', 105059, 34.16), ('XNA', 4, 0.0)]

2. Distribución de cliente por genero en caso de fraude

In [ ]:
%%sql 
SELECT 
    CODE_GENDER, 
    COUNT(*) AS cantidad, 
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM credit_card_db WHERE TARGET == 1), 2) AS porcentaje
FROM credit_card_db
WHERE TARGET == 1
GROUP BY CODE_GENDER;

 * sqlite:///my_database.db
Done.

[('F', 14170, 57.08), ('M', 10655, 42.92)]

3. Distribución de fraude por tipo de contrato

In [50]:
%%sql
SELECT 
    NAME_CONTRACT_TYPE, 
    COUNT(*) AS cantidad
FROM credit_card_db
WHERE TARGET == 1
GROUP BY NAME_CONTRACT_TYPE;

 * sqlite:///my_database.db
Done.

[('Cash loans', 23221), ('Revolving loans', 1604)]

4. Distribución de fraude por educación

In [57]:
%%sql
SELECT
    NAME_EDUCATION_TYPE,
    COUNT(*) AS cantidad
FROM credit_card_db
WHERE TARGET == 1
GROUP BY NAME_EDUCATION_TYPE;

 * sqlite:///my_database.db
Done.

[('Academic degree', 3),
 ('Higher education', 4009),
 ('Incomplete higher', 872),
 ('Lower secondary', 417),
 ('Secondary / secondary special', 19524)]

5. Distribución de fraude por edad

In [67]:
%%sql
SELECT
    ROUND(DAYS_BIRTH / -365.0, 0) AS edad,
    COUNT(*) AS cantidad
FROM credit_card_db
WHERE TARGET == 1
GROUP BY EDAD
ORDER BY cantidad DESC
LIMIT 5;

 * sqlite:///my_database.db
Done.

[(28.0, 975), (30.0, 885), (32.0, 854), (31.0, 850), (29.0, 839)]

6. Distribución de fraude por cantidad de meses que se cambió el teléfono

In [73]:
%%sql
SELECT
    ROUND(DAYS_LAST_PHONE_CHANGE / 30,0) AS meses_ultimo_cambio,
    COUNT(*) AS cantidad
FROM credit_card_db
WHERE TARGET == 1
GROUP BY meses_ultimo_cambio
ORDER BY cantidad DESC
LIMIT 10;

 * sqlite:///my_database.db
Done.

[(0.0, 4478),
 (-10.0, 540),
 (-16.0, 528),
 (-11.0, 509),
 (-15.0, 483),
 (-14.0, 470),
 (-18.0, 466),
 (-9.0, 464),
 (-12.0, 459),
 (-8.0, 455)]

7. Distribución de fraude por tipo trabajo

In [85]:
%%sql
SELECT 
    OCCUPATION_TYPE,
    COUNT(*) AS cantidad
FROM credit_card_db
WHERE TARGET == 1
GROUP BY OCCUPATION_TYPE
ORDER BY cantidad DESC
LIMIT 10;

 * sqlite:///my_database.db
Done.

[('Otros', 8253),
 ('Laborers', 5838),
 ('Sales staff', 3092),
 ('Drivers', 2107),
 ('Core staff', 1738),
 ('Managers', 1328),
 ('Security staff', 722),
 ('High skill tech staff', 701),
 ('Medicine staff', 572),
 ('Accountants', 474)]

8. Distribucion de fraude por día de la semana

In [87]:
%%sql
SELECT 
    WEEKDAY_APPR_PROCESS_START,
    COUNT(*) AS cantidad
FROM credit_card_db
WHERE TARGET == 1
GROUP BY WEEKDAY_APPR_PROCESS_START
ORDER BY cantidad DESC
LIMIT 10;

 * sqlite:///my_database.db
Done.

[('TUESDAY', 4501),
 ('WEDNESDAY', 4238),
 ('FRIDAY', 4101),
 ('THURSDAY', 4098),
 ('MONDAY', 3934),
 ('SATURDAY', 2670),
 ('SUNDAY', 1283)]